@(repoName: String, stats: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fridge</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pin.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/textEditor.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/init.js")"></script>
        <script src="@routes.Assets.at("libs/tinymce/tinymce.min.js")"></script>

        <script src="@routes.Assets.at("javascripts/view/pin.js")"></script>

        <script src="@routes.Assets.at("javascripts/connections/ajaxAPI.js")"></script>
        <script src="@routes.Assets.at("javascripts/connections/dataConnector.js")"></script>

        <script>
            var repoName = "@repoName";
            var currentStats = JSON.parse('@stats');
            //Statistics
            //TODO: Encupsulate into object
            var progress;
            var number = 0;
            var deleted;
        </script>
        <style>
            html,body {
                margin: 0;
                padding: 0;
                height: 100%;
            }
        </style>
    </head>
    <body onload="init()">
        <div id="stats">
            <div id="created">Utworzono: </div>
            <div id ="currentCount">Obecnie: </div>
            <div id="deleted">Usunięto: </div>
        </div>
        <div id="formContainer">
            <form>
                <input id="iTitle" placeholder="Nazwa"><br/>
                <textarea id="iContent" placeholder="Tresc"></textarea>
                <button type="button" id="submit"> Submit</button>
            </form>
        </div>
        <div id="addButton">
            <i class="fa fa-3x fa-plus"></i>
        </div>
        <div id="blackout">

        </div>
    </body>
</html>